@font-face {
	font-family: Montserrat;
	src: url("./../assets/Montserrat.ttf") format("truetype");
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #242424;
	font-size: 16px;
	font-family: Montserrat, sans-serif;
	line-height: 1.6;
	outline: none;
	border: none;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	background: none;
}
main {
	display: flex;
	justify-content: space-around;
	height: 100vh;
	gap: 1rem;
}
.tools {
	display: flex;
	background-color: white;
	box-shadow: 0px 2px 3px hsla(0, 0%, 50%, 0.8);
	padding: 8px;
	border-radius: 10px;
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
	z-index: 999;

	&:hover {
		gap: 10px;
		button:not(:last-child) {
			animation: toolShow 0.6s forwards;
			width: fit-content;
			height: fit-content;
			padding: 5px;
			border-radius: 5px;
		}
	}

	button {
		width: 0px;
		height: 0px;
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			height: 25px;
			width: 25px;
		}
	}

	button:last-child {
		width: fit-content;
		height: fit-content;
		padding: 5px;
		border-radius: 5px;
	}

	#add-task {
		background-color: hsl(135, 50%, 50%);
	}

	#settings {
		background-color: hsl(0, 0%, 63%);
	}
}

.stats-container {
	background-color: hsl(0, 0%, 98%);
	flex-basis: 20vw;
	border-right: 1px solid hsl(0, 0%, 95%);
	padding: 1rem;
}

.usertask-container {
	flex-grow: 0;
	flex-basis: 60vw;
	overflow-y: auto;
	flex-wrap: wrap;
	padding-top: 1rem;
	padding-bottom: 10rem;
	gap: 1rem;
	position: relative;
}

.todolist-container {
	background-color: hsl(0, 0%, 98%);
	flex-basis: 20vw;
	border: 1px solid hsl(0, 0%, 95%);
	padding: 1rem;
}

.userstats {
	display: flex;
	flex-direction: column;
	.current-time {
		font-weight: 500;
		user-select: none;
		font-size: 1.2rem;
		letter-spacing: 1px;
		text-align: center;
		color: hsl(0, 0%, 50%);
	}
	.current-date {
		user-select: none;
		text-align: center;
		font-size: 0.9rem;
		letter-spacing: 1px;
		color: hsl(0, 0%, 80%);
	}

	.stat-year-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		margin: 0.8rem 0;

		.stat-year {
			user-select: none;
			font-size: 0.9rem;
			color: hsl(0, 0%, 50%);
		}

		button {
			background-color: hsl(0, 0%, 80%);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.2rem;
			height: 1.2rem;
		}
	}
	.months {
		user-select: none;
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(13, 1fr);

		.month {
			color: hsl(0, 0%, 40%);
			font-size: 0.6rem;
		}
	}
	.days {
		padding: 0 5px;
		display: grid;
		justify-items: center;
		align-items: center;
		grid-template-rows: repeat(31, 1fr);
		user-select: none;

		.day {
			color: hsl(0, 0%, 40%);
			font-size: 0.6rem;
		}
	}
	.statinfo {
		display: grid;
		grid-template-columns: repeat(13, 1fr);
	}
	.datamonth {
		display: grid;
		justify-items: center;
		align-items: center;
		grid-template-rows: repeat(31, 1fr);
	}
	.daybox {
		width: 85%;
		height: 85%;
		border: 1px solid hsl(0, 0%, 80%);
		border-radius: 2px;
	}
}

.usertask {
	margin: 0 1rem;
	margin-bottom: 1rem;
	height: fit-content;
	padding: 1rem;
	gap: 1rem;
	box-shadow: 0px 5px 10px hsl(0, 0%, 85%);
	border-top: 2px solid hsl(0, 0%, 90%);
	border-radius: 1rem;
	position: relative;

	header {
		.task-toolbar {
			opacity: 0;
			background-color: hsl(0, 0%, 90%);
			display: flex;
			position: absolute;
			top: 1rem;
			right: 1rem;
			transition: opacity 0.6s ease-out;
			border-radius: 5px;

			button {
				padding: 8px 10px;
				border-radius: 5px;
				display: flex;
				justify-content: center;
				align-items: center;

				transition: background-color 0.3s ease;
				svg {
					width: 1.2rem;
					height: 1.2rem;
					transition: transform 0.6s ease;
				}
			}
			button:hover {
				background-color: hsl(0, 0%, 70%);
				svg {
					transform: scale(1.2, 1.2);
				}
			}
		}
		.task-toolbar:hover {
			opacity: 1;
		}

		.task-info {
			max-width: 60%;
			min-width: 1ch;
			width: fit-content;
			h3 {
				user-select: none;
				min-height: 1ch;
				cursor: pointer;
				font-size: 1.2rem;
				font-weight: 500;
				margin-bottom: 5px;

				display: -webkit-box;
				-webkit-line-clamp: 2;
				line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
			span {
				user-select: none;
				min-height: 1ch;
				color: hsl(0, 0%, 50%);
				cursor: pointer;
				font-size: 0.9rem;
				margin-bottom: 5px;

				display: -webkit-box;
				-webkit-line-clamp: 2;
				line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
			.task-createdAt {
				cursor: default;
				color: hsl(0, 0%, 80%);
			}
		}
		.tick-ago {
			margin-bottom: 5px;
			user-select: none;
			.time-after {
				user-select: none;
				color: hsl(0, 0%, 70%);
				font-size: 0.9rem;
			}
			.ticks-count {
				user-select: none;
				margin-right: 0.5rem;
				color: hsl(145, 60%, 40%);
				font-size: 1.5rem;
				font-weight: 800;
			}
		}
	}

	.tick-container {
		display: flex;
		flex-wrap: wrap;
		gap: 10px 3px;
		.tick {
			width: 20px;
			height: 20px;
			border-radius: 3px;
			background: hsl(145, 70%, 40%);
		}
		.tick-divider {
			width: 10px;
			height: 20px;
		}
		.tick-delete {
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			background: hsla(0, 100%, 40%, 0.5);
			opacity: 0.2;
			border: 2px solid hsla(0, 100%, 10%, 0.5);
			svg {
				cursor: pointer;
				transition: opacity 0.3s ease;
				opacity: 0;
			}
		}
		.tick-delete:hover {
			border: none;
			opacity: 1;
			svg {
				opacity: 1;
			}
		}
		.tick-add {
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 3px;
			background: hsla(0, 0%, 30%, 0.5);
			opacity: 0.2;
			border: 2px solid hsla(0, 100%, 10%, 0.5);
			svg {
				cursor: pointer;
				transition: opacity 0.3s ease;
				opacity: 0;
			}
		}
		.tick-add:hover {
			border: none;
			opacity: 1;
			svg {
				opacity: 1;
			}
		}
	}
}
.horizontal-line {
	border-top: 1px solid hsl(0, 0%, 90%);
	margin-top: 0.5rem;
}
@keyframes toolShow {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
button {
	cursor: pointer;
}
.editing-info {
	transform: scale(0.9, 0.9);
	color: hsl(0, 0%, 70%);
	min-width: 5ch;
	width: fit-content;
	border-bottom: 2px solid hsl(0, 0%, 80%);
}
.task-done {
	background-color: hsl(0, 0%, 90%);
	opacity: 0.7;
	box-shadow: none;
	user-select: none;
}
.goal-edit {
	width: 1ch;
	user-select: none;
	cursor: text;
	margin-right: 0.5rem;
	font-size: 1.5rem;
	font-weight: 800;
	color: hsl(0, 0%, 70%) !important;
	border-bottom: 2px solid hsl(0, 0%, 80%);
}
