@font-face {
	font-family: Montserrat;
	src: url("./../assets/Montserrat.ttf") format("truetype");
}
:root {
	color-scheme: light dark;
	--tick-color: light-dark(hsl(145, 60%, 40%), hsl(145, 55%, 50%));
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #242424;
	font-size: 16px;
	font-family: Montserrat, sans-serif;
	line-height: 1.6;
	outline: none;
	border: none;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	background: none;
}
main {
	background-color: light-dark(hsl(0, 0%, 98%), hsl(0, 0%, 10%));
	display: flex;
	justify-content: space-around;
	height: 100vh;
	gap: 1rem;
}
.tools {
	display: flex;
	background-color: light-dark(white, hsl(0, 0%, 30%));
	box-shadow: 0px 2px 3px light-dark(hsla(0, 0%, 50%, 0.8), hsl(0, 0%, 0%));
	padding: 8px;
	border-radius: 10px;
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
	z-index: 999;

	&:hover {
		gap: 10px;
		button:not(:last-child) {
			animation: toolShow 0.6s forwards;
			width: fit-content;
			height: fit-content;
			padding: 5px;
			border-radius: 5px;
		}
	}

	button {
		width: 0px;
		height: 0px;
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			height: 25px;
			width: 25px;
		}
	}

	button:last-child {
		width: fit-content;
		height: fit-content;
		padding: 5px;
		border-radius: 5px;
	}

	#add-task {
		background-color: hsl(135, 50%, 50%);
	}

	#settings {
		background-color: hsl(0, 0%, 63%);
	}
}

.stats-container {
	flex-basis: 16vw;
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	overflow: hidden;
}

.usertask-container {
	flex-grow: 0;
	flex-basis: 60vw;
	overflow-y: auto;
	flex-wrap: wrap;
	padding-top: 1rem;
	padding-bottom: 10rem;
	gap: 1rem;
	position: relative;
}

.todolist-container {
	background-color: light-dark(hsl(0, 0%, 98%), hsl(0, 0%, 5%));
	flex-basis: 20vw;
	padding: 1rem;
}
.stat-header {
	height: 100%;
	padding: 1rem;
	background-color: light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 20%));
	.current-time {
		font-weight: 500;
		user-select: none;
		font-size: 1.2rem;
		letter-spacing: 1px;
		text-align: center;
		color: light-dark(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 100%, 0.5));
	}
	.current-date {
		user-select: none;
		text-align: center;
		font-size: 0.8rem;
		font-weight: 500;
		color: light-dark(hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 100%, 0.2));
	}
}

.userstats {
	display: flex;
	flex-direction: column;
	background-color: light-dark(hsl(0, 0%, 80%), hsl(0, 0%, 15%));
	padding: 1rem;
	.stat-year-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		margin-bottom: 0.5rem;

		.stat-year {
			min-width: 5ch;
			text-align: center;
			user-select: none;
			font-size: 0.9rem;
			font-weight: 500;
			color: light-dark(hsl(0, 0%, 40%), hsl(0, 0%, 80%));
		}

		button {
			background-color: light-dark(hsl(0, 0%, 70%), hsl(0, 0%, 50%));
			border-radius: 5px;
			padding: 2px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.2rem;
			height: 1.2rem;
			transition: opacity 0.6s ease, transform 0.6s ease;
			opacity: 0.5;
		}
		button:hover {
			opacity: 1;
			transform: scale(1.2, 1.2);
		}
	}
	.months {
		user-select: none;
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(13, 1fr);
		.month {
			font-weight: bold;
			color: hsl(0, 0%, 50%);
			font-size: 0.6rem;
		}
	}
	.days {
		display: grid;
		justify-items: center;
		align-items: center;
		grid-template-rows: repeat(31, 1fr);
		user-select: none;

		.day {
			font-weight: bold;
			color: hsl(0, 0%, 50%);
			font-size: 0.6rem;
		}
	}
	.statinfo {
		display: grid;
		grid-template-columns: repeat(13, 1fr);
	}
	.datamonth {
		display: grid;
		justify-items: center;
		align-items: center;
		grid-template-rows: repeat(31, 1fr);
	}
	.daybox {
		width: 85%;
		height: 85%;
		background-color: light-dark(hsl(0, 0%, 98%), hsl(0, 0%, 30%));
		border-radius: 2px;
	}
}

.usertask {
	overflow: hidden;
	margin: 0 1rem;
	margin-bottom: 1rem;
	height: fit-content;
	padding: 1rem 1.5rem;
	gap: 1rem;
	box-shadow: 0px 5px 10px light-dark(hsl(0, 0%, 85%), hsl(0, 0%, 5%));
	border-top: 2px solid light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 50%));
	background-color: light-dark(hsl(0, 0%, 98%), hsl(0, 0%, 20%));
	border-radius: 1rem;
	position: relative;

	header {
		.task-toolbar {
			opacity: 0;
			background-color: light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 40%));
			display: flex;
			position: absolute;
			top: 1rem;
			right: 1rem;
			transition: opacity 0.6s ease-out;
			border-radius: 5px;

			button {
				padding: 8px 10px;
				border-radius: 5px;
				display: flex;
				justify-content: center;
				align-items: center;

				transition: background-color 0.3s ease;
				svg {
					width: 1.2rem;
					height: 1.2rem;
					transition: transform 0.6s ease;
				}
			}
			button:hover {
				background-color: light-dark(hsl(0, 0%, 70%), hsl(0, 0%, 60%));
				svg {
					transform: scale(1.2, 1.2);
				}
			}
		}
		.task-toolbar:hover {
			opacity: 1;
		}

		.task-info {
			max-width: 60%;
			min-width: 1ch;
			width: fit-content;
			h3 {
				user-select: none;
				min-height: 1ch;
				cursor: pointer;
				font-size: 1.2rem;
				font-weight: 500;
				margin-bottom: 5px;
				color: light-dark(hsl(0, 0%, 20%), hsl(0, 0%, 90%));
				display: -webkit-box;
				-webkit-line-clamp: 2;
				line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
			span {
				user-select: none;
				min-height: 1ch;
				color: light-dark(hsl(0, 0%, 50%), hsl(0, 0%, 80%));
				cursor: pointer;
				font-size: 0.9rem;
				margin-bottom: 5px;

				display: -webkit-box;
				-webkit-line-clamp: 2;
				line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
			.task-createdAt {
				cursor: default;
				color: light-dark(hsl(0, 0%, 80%), hsl(0, 0%, 50%));
			}
		}
		.tick-ago {
			margin-bottom: 5px;
			user-select: none;
			.time-after {
				user-select: none;
				color: light-dark(hsl(0, 0%, 70%), hsl(0, 0%, 60%));
				font-size: 0.9rem;
			}
			.ticks-count {
				user-select: none;
				margin-right: 0.5rem;
				color: var(--tick-color);
				font-size: 1.5rem;
				font-weight: 800;
			}
		}
	}

	.tick-container {
		display: flex;
		flex-wrap: wrap;
		gap: 10px 3px;
		.tick {
			width: 20px;
			height: 20px;
			border-radius: 3px;
			background: var(--tick-color);
		}
		.tick-divider {
			width: 10px;
			height: 20px;
		}
		.tick-delete {
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			background: light-dark(hsla(0, 100%, 40%, 0.3), hsla(0, 80%, 70%, 0.4));
			transform: scale(0.6, 0.6);
			transition: transform 0.3s ease;
			svg {
				cursor: pointer;
				transition: opacity 0.3s ease;
				opacity: 0;
			}
		}
		.tick-delete:hover {
			background: light-dark(hsla(0, 100%, 40%, 0.4), hsla(0, 80%, 70%, 0.8));
			transform: scale(1, 1);
			border: none;
			opacity: 1;
			svg {
				opacity: 1;
			}
		}
		.tick-add {
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 3px;
			transform: scale(0.6, 0.6);
			transition: transform 0.3s ease;
			background: light-dark(hsla(0, 0%, 50%, 0.3), hsla(0, 0%, 70%, 0.3));
			svg {
				cursor: pointer;
				transition: opacity 0.3s ease;
				opacity: 0;
			}
		}
		.tick-add:hover {
			background: light-dark(hsla(0, 0%, 50%, 0.5), hsla(0, 0%, 70%, 0.5));
			transform: scale(1, 1);
			border: none;
			opacity: 1;
			svg {
				opacity: 1;
			}
		}
	}
}
.horizontal-line {
	border-top: 1px solid light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 30%));
	margin-top: 0.5rem;
}
@keyframes toolShow {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
button {
	cursor: pointer;
}
.editing-info {
	transform: scale(0.9, 0.9);
	color: hsl(0, 0%, 70%);
	min-width: 5ch;
	width: fit-content;
	border-bottom: 2px solid hsl(0, 0%, 80%);
}
.task-done {
	& {
		margin: 0.3rem 0.3rem;
		display: inline-flex;
		max-width: 50%;
		width: fit-content;
	}
	* {
		color: hsl(0, 0%, 50%) !important;
		font-size: 0.7rem !important;
		font-weight: normal !important;
	}
	.horizontal-line {
		display: none;
	}
	.task-toolbar {
		top: 0.3rem !important;
		right: 0.3rem !important;
		transform: scale(0.8, 0.8);
	}
	.ticks-count {
		font-weight: bold !important;
	}
	.task-info {
		span {
			display: none !important;
		}
	}
	.tick-container {
		display: none;
	}
	button {
		display: none !important;
		opacity: 0;
	}
	button:first-child {
		display: flex !important;
		opacity: 1;
	}
	button:last-child {
		display: flex !important;
		opacity: 1;
	}

	background-color: light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 5%));
	border: none;
	opacity: 0.6;
	box-shadow: none;
	user-select: none;
}
.goal-edit {
	width: 1ch;
	user-select: none;
	cursor: text;
	margin-right: 0.5rem;
	font-size: 1.5rem;
	font-weight: 800;
	color: hsl(0, 0%, 70%) !important;
	border-bottom: 2px solid hsl(0, 0%, 80%);
}

[data-tooltip] {
	position: relative;
}

[data-tooltip]:after {
	content: attr(data-tooltip);
	position: absolute;
	font-size: 0.75rem;
	left: 0;
	z-index: 999;
	bottom: -100%;
	padding: 6px 10px;
	border-radius: 5px;
	color: white;
	background-color: hsl(238, 25%, 49%);
	transform: scale(0.8, 0.8);
	width: max-content;
	opacity: 0;
	display: none;
}
[data-tooltip]:hover:after {
	animation: showTooltip 0.6s forwards 0.3s;
	display: block;
}

@keyframes showTooltip {
	0% {
		transform: scale(0.8, 0.8);
		opacity: 0;
	}
	100% {
		transform: scale(1, 1);
		opacity: 1;
	}
}
